*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-nav a {
    color: #f6f7f8;
    background:  #3434e4;
    display: block;
    height: 64px;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}

#main-nav a:hover{
    background: #180c85;
}

#main-nav ul{
    list-style: none;
    display: flex;
}

#main-nav li{
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    top: 0px;
}

.submenu li{
    display: none;
    position: absolute;
    top: 0px;
}

.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    position: relative;
}

.arrow{
    margin-left:8px;
    color:#eee;
    font-size:12px;
}

h1 {
    font-size: 72px;
    font-family: lato;
}

section {
    background: #f2f4f3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}